* {
  margin: 5px;
  padding: 0;
  font-family: Georgia;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.radio-button-group {
  display: flex;
  justify-content: center;
}

td {
  width: 25%;
}
.main-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.poke-images {
  display: flex;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: center;
  width: 85%;
  flex-wrap: wrap;
  font-size: 4vw;
  font-weight: bold;
}

.poke-image {
  width: 25vw;
  height: 25vw;
  max-height: 256px;
  max-width: 256px;
  object-fit: cover;
}

.image-container {
  width: 25vw;
  height: 25vw;
  max-width: 256px;
  max-height: 256px;
}

.poke-images {
  width: 100%;
  
}

#pokeData {
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  background-image: url("PokemonImages/normalType.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
  border-radius: 10px;
}

input {
  border-radius: 5px;
  border:1px solid black;
}

.footer {
  display: flex;
  width: 85%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  #locationData {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(#6a6a6a, #8a8a8a);
    margin 5px;
    border-radius: 5px;
  }

  #pokemonSubmit {
    width: 25vw;
  }

  .stat {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    width: 90%;
    font-weight: normal;

  }


}

@media only screen and (min-width: 601px) {

  #locationData {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(#6a6a6a, #8a8a8a);
    margin 5px;
    border-radius: 5px;
  }

  #pokemonSubmit {
    width: 25vw;
  }

  .stat {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    width: 45%;
    font-weight: normal;

  }


}

@media only screen and (min-width: 961px) {

  #locationData {
    display:flex;
    justify-content: center;
    width: 85%;
    background-image: linear-gradient(#6a6a6a, #8a8a8a);
    border-radius: 5px;
  }

  #pokemonSubmit {
    width: 10vw;
  }

  .stat {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    width: 40%;
    font-weight: normal;

  }


}
